extends layout

block content
  .inner
    h2= title
    p Temporarily down for maintenance. We'll be right back!
    video(src='https://media.giphy.com/media/qJJlYvBXWyNu8/giphy.mp4' autoplay loop width="320" height="200")